select{
    outline: none;
    height: 45px;
    border: none;
    background: transparent;
    border-radius: 0;
    padding: 0 10px;
    border-bottom: 1px solid lighten($dark-gray,55);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-expand{
        display: none;
    }
}
.search-panel{
    text-align: center;
    padding: 15px;

    .form-group{
        width: 55%;
        padding-bottom: 4em;
        border-bottom: 5px solid $dark-gray;
        input{
            @include font-common(19px,200);
            height: 60px;
            padding-left: 45px !important;
            @include border-radius(30px !important);
            border: 4px solid $purple;
            @include box-shadow(none !important);
        }
    }
    .input-group{
        width: 100%;
        > span {
            position: absolute;
            left: 20px;
            z-index: 5;
            font-size: 30px;
            height: 60px;
            line-height: 2;
        }
    }
}
.side-form {
    .form-group {
        padding: 5px 10px 0;
        margin-bottom: 20px;
    }
    
    input,textarea {
        border: none;
            border-bottom-width: medium;
            border-bottom-style: none;
            border-bottom-color: currentcolor;
        font-size: 15px;
        padding: 10px;
        height: 50px;
        border-bottom: 1px solid lighten($dark-gray,55) !important;
        @include border-radius(0);
        @include box-shadow(none !important);
        @include placeholder(darken($dark-gray,10));
    }
    textarea{
        resize: none;
        height: 70px;
    }
}
.submit-container {
    position: absolute;
    width: 100%;
    bottom: -15px;
    text-align: right;
    padding-right: 30px;
}
.tour-btn{
    background: $dark-gray !important;
    color: $white !important;
    font-size: 16px;
    border: 1px solid $dark-gray !important;
    &:hover{
        background-color: lighten($dark-gray,10);
    }
}
.tour-btn-bd {
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid $purple !important;
    display: inline-block;
    color: $purple !important;
    background: $white !important;
    &:hover{
        opacity: .8 !important;
        @include opacity(.8);
        @include box-shadow(lighten($dark-gray,60)  1px 1px 2px 3px);
    }
}
// Advance Filter 
.advance-filter{
    padding: 0;
    list-style: none;
    width: 100%;
    color: $purple;
    > li{
        display: inline-block;
    }
    input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid $purple;
        @include placeholder($purple, 500);
    }
    .form-group {
        padding-bottom: 0;
        border-bottom: none;
        width: 100%;
        input {
            border-left: none;
            border-right: none;
            border-top: none;
            border-radius: 0 !important;
            padding: 0 !important;
            height: 35px;
        }
    }
    span{
        color: $purple;
        vertical-align: sub;
        &.fa {
            padding: 0 0 0 10px;
            font-size: 30px;
        }
    }
    p{
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
    }

}
.date-select{
    padding: 10px 3em;
    background: $purple;
    display: inline-block;
    @include font-common(20px,300);
    @include border-radius(10px);
    color: $white;
    &:hover{
        color: $white;
     //   @include opacity(.8);
     @include box-shadow(lighten($dark-gray,60) 1px 1px 2px 3px);
    }
}