/**
*  Primary purple color #99005d
*  primary background #ffffff;
*  primary gray color #42454A
**/

$purple : #99005d;
$white : #ffffff;
$dark-gray: #42454A;

/**
*  Imported fontawesome icons
*   @import url(//fonts.googleapis.com/css?family=Open+Sans);
**/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import "compass";